<div class="skeleton-loader">
  <!-- Cabeçalho do skeleton -->
  @if (showHeader()) {
    <div class="skeleton-header">
      @for (col of columnsArray; track col) {
        <div
          class="skeleton-header-cell"
          [style.height]="rowHeight()"
          >
          <div class="skeleton-shimmer skeleton-text"></div>
        </div>
      }
    </div>
  }

  <!-- Linhas do skeleton -->
  <div class="skeleton-body">
    @for (row of rowsArray; track row) {
      <div
        class="skeleton-row"
        [style.height]="rowHeight()"
        >
        @for (col of columnsArray; track col; let colIndex = $index) {
          <div
            class="skeleton-cell"
            >
            <div
              class="skeleton-shimmer skeleton-text"
              [style.width]="getRandomWidth(colIndex)"
            ></div>
          </div>
        }
      </div>
    }
  </div>
</div>
